.container
  .row
    .col-xs-12
      h1 Task description
      ol
        li Create two new Components (manually or with CLI): WarningAlert and SuccessAlert
        li Output them beneath each other in the AppComponent
        li Output a warning or success message in the Components
        li Style the Components appropriately (maybe some red/ green text?)
      p Use external or internal templates and styles!
      p
        | Feel free to create more components, nest them into each other or play around with different types of selectors!
  .row
    .col-xs-6.md-8
      app-warning-alert
  .row
    .col-xs-6.md-8
      app-success-alert
